.git
.idea
node_modules/
nbproject/
.vs*/
Thumbs.db
gulpfile.js

test/
travis/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml
tsconfig.json

tslint.json
.eslintrc.json

# npm package files
iobroker.*.tgz
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**