.git
.idea
node_modules/
nbproject/
.vs*/
*.code-workspace
Thumbs.db
gulpfile.js

test/
travis/
.devcontainer/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml
.gitignore
.gitattributes
.npmignore
.github
.snyk

.eslintrc.json
.eslintrc.js

# npm package files
iobroker.*.tgz
package-lock.json

# i18n intermediate files
admin/i18n

# maintenance scripts
maintenance/**
